@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h4>@ViewData["Title"]</h4>

<form asp-controller="Login" asp-action="Login" method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="UserDto.UserType" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="UserDto.UserType" class="custom-select mr-sm-2">
                <option value="1">Shop</option>
                <option value="2" selected>Customer</option>
            </select>
            <span asp-validation-for="UserDto.UserType"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="UserDto.UserName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="UserDto.UserName" class="form-control" />
            <span asp-validation-for="UserDto.UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="UserDto.Password" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="UserDto.Password" class="form-control" />
            <span asp-validation-for="UserDto.Password" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row text-danger">
        <label class="col-sm-12 col-form-label">@Html.ValidationMessage("Invalid Credentials")</label>
    </div>

    <div>
        <button type="submit">Login</button>
    </div>
</form>