@model PromotionsSG.Presentation.WebPortal.Models.LoginViewModel

@{
    ViewData["Title"] = "Success Login";
}

<div>
    Welcome @Html.DisplayFor(model => model.userDto.UserName)
</div>

<script>

</script>