@model RegisterViewModel

<form class="newtetter" asp-controller="Home" asp-action="Subscribe" method="post">
    <input asp-for="Email" class="tetter" type="text">
    <button class="submit" type="submit">Subscribe to PromotionsSG</button>
</form>