@model ShopProfileViewModel

@{
    ViewData["Title"] = "Shop Profile";
}



<div id="brand" class="brand-bg">

    <form asp-controller="ShopProfile" asp-action="Update" method="post" class="_page-wrapper stepping">

        <h2>Shop Profile Details</h2>
        <hr />

        <input hidden asp-for="ShopProfileDto.ShopProfileId" />
        <input hidden asp-for="ShopProfileDto.UserId" />

        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
                    <label asp-for="ShopProfileDto.ShopName" class="control-label"></label>
                    <input asp-for="ShopProfileDto.ShopName" class="form-control" />
                    <span asp-validation-for="ShopProfileDto.ShopName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ShopProfileDto.ShopAddress" class="control-label"></label>
                    <input asp-for="ShopProfileDto.ShopAddress" class="form-control" />
                    <span asp-validation-for="ShopProfileDto.ShopAddress" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ShopProfileDto.PostalCode" class="control-label"></label>
                    <input asp-for="ShopProfileDto.PostalCode" class="form-control" />
                    <span asp-validation-for="ShopProfileDto.PostalCode" class="text-danger"></span>
                </div>

                <div class="form-group text-danger">
                    <label class="">@Html.ValidationMessage("Login failed")</label>
                </div>

                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>

            </div>
        </div>
    </form>
</div>

