@{
    ViewData["Title"] = "Home";
}

<div class="Categories">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2> Categories</h2>
                    <ul class="categiri">
                        <li class="active"><a href="#">Clothing</a></li>
                        <li><a href="#shoes">Shoes</a></li>
                        <li><a href="#jewellery">Jewellery</a></li>
                        <li><a href="#kids">Kids and Babies</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- news brand -->
        <div id="brand" class="brand-bg">
            <h3>New brands</h3>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                    <div class="brand-box">
                        <h5>Sale</h5>
                        <i>
                            <img src="~/icon/p1.png" />
                        </i>
                        <h4>Price $<span class="nolmal">100</span></h4>

                    </div>
                    <a class="buynow" href="#">Claim now</a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                    <div class="brand-box">
                        <i><img src="~/icon/p2.png" /></i>
                        <h4>Price $<span class="nolmal">100</span></h4>
                    </div>
                    <a class="buynow" href="#">Claim now</a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="brand-box">
                        <i><img src="~/icon/p1.png" /></i>
                        <h4>Price $<span class="nolmal">100</span></h4>
                    </div>
                    <a class="buynow" href="#">Claim now</a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="brand-box">
                        <i><img src="~/icon/p4.png" /></i>
                        <h4>Price $<span class="nolmal">100</span></h4>
                    </div>
                    <a class="buynow" href="#">Claim now</a>
                </div>
            </div>
        </div>
        <a class="seemore" href="#">See more</a>
        <!-- end news brand -->
        <!-- news shoes -->
        <div id="shoes" class="shoes-bg">
            <h3>New shoes</h3>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                    <div class="shoes-box">
                        <h5>Sale</h5>
                        <i>
                            <img src="~/icon/s1.png" />
                        </i>
                        <h4>Price $<span class="nolmal">100</span></h4>

                    </div>
                    <a class="buynow" href="#">Claim now</a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                    <div class="shoes-box">
                        <i><img src="~/icon/s2.png" /></i>
                        <h4>Price $<span class="nolmal">100</span></h4>
                    </div>
                    <a class="buynow" href="#">Claim now</a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="shoes-box">
                        <i><img src="~/icon/s3.png" /></i>
                        <h4>Price $<span class="nolmal">100</span></h4>
                    </div>
                    <a class="buynow" href="#">Claim now</a>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class="shoes-box">
                        <i><img src="~/icon/s4.png" /></i>
                        <h4>Price $<span class="nolmal">100</span></h4>
                    </div>
                    <a class="buynow" href="#">Claim now</a>
                </div>
            </div>
        </div>
        <a class="seemore" href="#">See more</a>
    </div>

</div>
<section>
    <!--  save -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="save">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="save_box">
                                <h3>save up to 50%</h3>
                                <a href="#">Claim now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end save -->
</section>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="jewellery" class="Jewellery-bg">
                <h3>New Jewellery</h3>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                        <div class="Jewellery-box">
                            <h5>Sale</h5>
                            <i>
                                <img src="~/icon/j1.png" />
                            </i>
                            <h4>Price $<span class="nolmal">100</span></h4>

                        </div>
                        <a class="buynow" href="#">Claim now</a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                        <div class="Jewellery-box">
                            <i><img src="~/icon/j2.png" /></i>
                            <h4>Price $<span class="nolmal">100</span></h4>
                        </div>
                        <a class="buynow" href="#">Claim now</a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="Jewellery-box">
                            <i><img src="~/icon/j3.png" /></i>
                            <h4>Price $<span class="nolmal">100</span></h4>
                        </div>
                        <a class="buynow" href="#">Claim now</a>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="Jewellery-box">
                            <i><img src="~/icon/j4.png" /></i>
                            <h4>Price $<span class="nolmal">100</span></h4>
                        </div>
                        <a class="buynow" href="#">Claim now</a>
                    </div>
                </div>
            </div>
            <a class="seemore" href="#">See more</a>
        </div>
    </div>
</div>
<!-- end news Jewellery -->
<!-- news Kids -->
<div id="kids" class="Kids_background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="Kids-bg">
                    <h3>Kids and Babies</h3>
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                            <div class="Kids-box">

                                <i>
                                    <img src="~/icon/k1.png" />
                                </i>
                                <h4>Price $<span class="nolmal">100</span></h4>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 margintop">
                            <div class="Kids-box">
                                <i><img src="~/icon/k1.png" /></i>
                                <h4>Price $<span class="nolmal">100</span></h4>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <div class="Kids-box">
                                <i><img src="~/icon/k1.png" /></i>
                                <h4>Price $<span class="nolmal">100</span></h4>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                            <div class="Kids-box">
                                <i><img src="~/icon/k1.png" /></i>
                                <h4>Price $<span class="nolmal">100</span></h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end news Kids -->